#autor
{
	width: 100%;
}
#perfil
{
	width: 80%;
	height: 100%;
	float: left;
}
#blank
{
	width: 20%;
}
#foto
{
	width: 30%;
	height: 100%;
	float: left;
}

#minhafoto
{
	align-self: right;
	width:80%;
	border-radius: 60%;
}